---
---

@import "{{ site.theme }}";

table { 
  border-collapse: collapse;
  empty-cells: hide;
}

th {
  text-align: center;
  font-weight: bold;
}

thead th,
tbody td {
  width: 7em;
  padding:2px;
}

thead tr th:first-child,
tbody tr td:first-child {
 
  width: 3em;
  font-weight: normal;
}
