---
---

@import "{{ site.theme }}";

table { 
  border-collapse: collapse;
}

th {
  text-align: center;
  font-weight: bold;
}

thead tr th:first-child,
tbody tr td:first-child {
 
  width: 6em;
  font-weight: normal;
}
