---
---

@import "{{ site.theme }}";

body.center {
    float: center;
}

thead,
tbody {
  display: block;
  
}

thead {
  text-align: left;
  color: white;
}

tbody {
  overflow-y: auto;
}

thead th,
tbody td {
  width: 10em;
  text-align: center;
}

thead tr th:first-child,
tbody tr td:first-child {
 
  width: 5em;
  font-weight: normal;
  text-align: center;
}

thead tr {
 
  width: 5em;
  background: DarkCyan;
  font-weight: bold;
}

tr:hover {background-color: #ddd;}
th:hover {background-color: green;}
