    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ ./check-in.html }}" class="btn">Check In</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ ./meet-the-team.html }}" class="btn">Meet the Team</a>
        <a href="{{ ./learn-more.html }}" class="btn">Learn More</a>
      {% endif %}
    </header>
